---
import Layout from "../layouts/MyLayout.astro";
---

<Layout title="The LOFT">
  <p class="text-blue-500 underline">
    <a
      href="https://docs.google.com/presentation/d/e/2PACX-1vRQpvC-MJ656ITRHD6F2u3myYdcRkF7yAtrhtn4mGjgn-mOQCoEgpApA503roSdpdZgAnULX133bZ_I/pub?start=true&loop=false&delayms=3000"
      >See slideshow here</a
    >
  </p>
</Layout>
