---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <div class="container mx-auto max-w-5xl px-4 xl:px-0">
      <h1 class="text-3xl font-bold my-4">{title}</h1>
      <slot />
    </div>
  </body>
</html>
